<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="header">
        <h1>All posts</h1>
        <div class="all-posts">

        <% if(posts) {%>
            <% posts.forEach(({id,author,title,text,date})=>{ %>
                <div class="post">
                    <h3><%= author %></p>
                    <h4><%= title %></p>
                    <p><%= text %></p>
                    <p><b><%= date %></b></p>
                </div>
            <% }) %>
            <% } %>
    </div>
        </div>

        

</body>
</html>