<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="header">
        <h1>All posts</h1>
        <div class="all-posts">

        <% if(posts) {%>
            <% posts.forEach(({id,author,title,text,createdAt})=>{ %>
                <div class="post">
                    <a href="/posts/<%= id%>"><h3><%= title %></h3></a>
                    <h4><%= author %></h4>
                    <p><%= text %></p>
                    <p><b><%= createdAt.toLocaleDateString() %></b></p>
                    <button  data-id="<%= id%>">Редактировать</button>
                    <button     data-id="<%= id%>">Удалить</button>
                </div>
            <% }) %>
            <% } %>
    </div>
        </div>

        
<script>
    document.addEventListener('click', (e)=>{
        const id = e.target?.dataset?.id || null;
        if(id){
            fetch(`posts/${id}`,{
                method: 'delete',
            }).then(window.location.reload())
        }
    })
</script>
</body>
</html>